* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(216deg, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

@media only screen and (max-width: 1439px) {
  .container-notes {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    background-color: hsl(213deg, 19%, 18%);
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(217deg, 12%, 63%);
    padding: 10px 30px;
    margin: 10px 10px;
    border-radius: 25px;
    height: 375px;
    width: 375px;
    line-height: 25px;
  }
  .container-notes h1 {
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
  }
  .container-notes .ball {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(213deg, 19%, 22%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: color 0.2s;
  }
  .container-notes .ball.highlight {
    background-color: hsl(216deg, 12%, 54%);
    color: hsl(0deg, 0%, 100%);
    cursor: pointer;
    transition: color 0.2s;
  }
  .container-notes .ball:hover {
    background-color: hsl(25deg, 97%, 53%);
    color: white;
  }
  .container-notes section.notes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .container-notes button {
    background-color: hsl(25deg, 97%, 53%);
    width: 100%;
    border: 0;
    border-radius: 25px;
    padding: 13px 10px;
    color: hsl(0deg, 0%, 100%);
    cursor: pointer;
    transition: color 0.2s;
  }
  .container-notes button:hover {
    background-color: hsl(0deg, 0%, 100%);
    color: hsl(25deg, 97%, 53%);
    cursor: pointer;
  }
  .container-tk {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: hsl(213deg, 19%, 18%);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: hsl(217deg, 12%, 63%);
    padding: 10px 30px;
    margin: 10px 10px;
    border-radius: 25px;
    height: 375px;
    width: 375px;
    line-height: 25px;
  }
  .container-tk h1 {
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
  }
  .container-tk div.note {
    background-color: hsl(213deg, 19%, 22%);
    color: hsl(25deg, 97%, 65%);
    border-radius: 20px;
    padding: 10px 10px 5px 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .hide {
    display: none;
  }
  .container-notes {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    background-color: hsl(213deg, 19%, 18%);
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(217deg, 12%, 63%);
    padding: 10px 30px;
    margin: 10px 10px;
    border-radius: 25px;
    height: 375px;
    max-width: 375px;
    line-height: 25px;
  }
  .container-notes h1 {
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
  }
  .container-notes .ball {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(213deg, 19%, 22%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: color 0.2s;
  }
  .container-notes .ball.highlight {
    background-color: hsl(216deg, 12%, 54%);
    color: hsl(0deg, 0%, 100%);
    cursor: pointer;
    transition: color 0.2s;
  }
  .container-notes .ball:hover {
    background-color: hsl(25deg, 97%, 53%);
    color: white;
  }
  .container-notes section.notes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .container-notes button {
    background-color: hsl(25deg, 97%, 53%);
    width: 100%;
    border: 0;
    border-radius: 25px;
    padding: 13px 10px;
    color: hsl(0deg, 0%, 100%);
    cursor: pointer;
    transition: color 0.2s;
  }
  .container-notes button:hover {
    background-color: hsl(0deg, 0%, 100%);
    color: hsl(25deg, 97%, 53%);
    cursor: pointer;
  }
  .container-tk {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: hsl(213deg, 19%, 18%);
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(217deg, 12%, 63%);
    padding: 10px 30px;
    margin: 10px 10px;
    border-radius: 25px;
    height: 375px;
    width: 375px;
    line-height: 25px;
  }
  .container-tk h1 {
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
  }
  .container-tk div.note {
    background-color: hsl(213deg, 19%, 22%);
    color: hsl(25deg, 97%, 65%);
    border-radius: 20px;
    padding: 10px 10px 5px 10px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=style.css.map */